In [1]:
# A database is an organized collection of structured information, or data, typically stored electronically in a computer system.
# A database is usually controlled by a database management system (DBMS).

# SQL is a domain-specific language used to query and manage data.
# It works by allowing users to query, insert, delete, and update records in relational databases.
# SQL also allows for complex logic to be applied through the use of transactions and embedded procedures such as stored functions or views.

# NoSQL stands for Not only SQL.
# It is a type of database that uses non-relational data structures, such as documents, graph databases, and key-value stores to store and retrieve data.
# NoSQL systems are designed to be more flexible than traditional relational databases and can scale up or down easily to accommodate changes in usage or load.
# This makes them ideal for use in applications

In [ ]:
# Data Definition Language(DDL) is a subset of SQL and a part of DBMS(Database Management System).
# DDL consist of Commands to commands like CREATE, ALTER, TRUNCATE and DROP.
# These commands are used to create or modify the tables in SQL.

# CREATE :
# This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.

# ALTER :
# This command is used to add, delete or change columns in the existing table.
# The user needs to know the existing table name and can do add, delete or modify tasks easily.

# TRUNCATE :
# This command is used to remove all rows from the table, but the structure of the table still exists.

# DROP :
# This command is used to remove an existing table along with its structure from the Database.

In [2]:
# DML It is a dialect which is used to select, insert, delete and update data in a database.
# This command is used to get data out of the database. It helps users of the database to access from an operating system, the significant data they need.
# It sends a track result set from one tables or more.

# SELECT Command –
# This command is used to get data out of the database.
# It helps users of the database to access from an operating system, the significant data they need.
# It sends a track result set from one tables or more.

# INSERT Command –
# This command is used to enter the information or values into a row.
# We can connect one or more records to a single table within a repository using this instruction.
# This is often used to connect an unused tag to the documents.

# UPDATE Command –
# This command is used to alter existing table records.
# Within a table, it modifies data from one or more records.
# This command is used to alter the data which is already present in a table.

# DELETE Command –
# It deletes all archives from a table. This command is used to erase some or all of the previous table’s records.
# If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.

In [3]:
# DQL statements are used for performing queries on the data within schema objects.
# The purpose of the DQL Command is to get some schema relation based on the query passed to it.
# We can define DQL as follows it is a component of SQL statement that allows getting data from the database and imposing order upon it.
# It includes the SELECT statement. This command allows getting the data out of the database to perform operations with it.
# When a SELECT is fired against a table or tables the result is compiled into a further temporary table, which is displayed or perhaps received by the program i.e. a front-end.

In [4]:
# A primary key is used to ensure data in the specific column is unique.
# A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables.

In [5]:
""" Query order of execution
1. FROM and JOINs
The FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried. This includes subqueries in this clause, and can cause temporary tables to be created under the hood containing all the columns and rows of the tables being joined.

2. WHERE
Once we have the total working set of data, the first-pass WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded. Each of the constraints can only access columns directly from the tables requested in the FROM clause. Aliases in the SELECT part of the query are not accessible in most databases since they may include expressions dependent on parts of the query that have not yet executed.

3. GROUP BY
The remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause. As a result of the grouping, there will only be as many rows as there are unique values in that column. Implicitly, this means that you should only need to use this when you have aggregate functions in your query.

4. HAVING
If the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.

5. SELECT
Any expressions in the SELECT part of the query are finally computed.

6. DISTINCT
Of the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.

7. ORDER BY
If an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.

8. LIMIT / OFFSET
Finally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query."""

" Query order of execution\n1. FROM and JOINs\nThe FROM clause, and subsequent JOINs are first executed to determine the total working set of data that is being queried. This includes subqueries in this clause, and can cause temporary tables to be created under the hood containing all the columns and rows of the tables being joined.\n\n2. WHERE\nOnce we have the total working set of data, the first-pass WHERE constraints are applied to the individual rows, and rows that do not satisfy the constraint are discarded. Each of the constraints can only access columns directly from the tables requested in the FROM clause. Aliases in the SELECT part of the query are not accessible in most databases since they may include expressions dependent on parts of the query that have not yet executed.\n\n3. GROUP BY\nThe remaining rows after the WHERE constraints are applied are then grouped based on common values in the column specified in the GROUP BY clause. As a result of the grouping, there will only be as many rows as there are unique values in that column. Implicitly, this means that you should only need to use this when you have aggregate functions in your query.\n\n4. HAVING\nIf the query has a GROUP BY clause, then the constraints in the HAVING clause are then applied to the grouped rows, discard the grouped rows that don't satisfy the constraint. Like the WHERE clause, aliases are also not accessible from this step in most databases.\n\n5. SELECT\nAny expressions in the SELECT part of the query are finally computed.\n\n6. DISTINCT\nOf the remaining rows, rows with duplicate values in the column marked as DISTINCT will be discarded.\n\n7. ORDER BY\nIf an order is specified by the ORDER BY clause, the rows are then sorted by the specified data in either ascending or descending order. Since all the expressions in the SELECT part of the query have been computed, you can reference aliases in this clause.\n\n8. LIMIT / OFFSET\nFinally, the rows that fall outside the range specified by the LIMIT and OFFSET are discarded, leaving the final set of rows to be returned from the query."